*{margin: 0;
 padding: 0;
 box-sizing: border-box;}

 body{background-color: rgb(43, 41, 41);}

 .bg-container{width: 100%;
  background-image: linear-gradient(rgba(77, 78, 78, 0.7),rgba(21, 22, 22, 0.7)),url(./image/Premium\ Photo\ _\ Muscular\ tattooed\ bearded\ male\ exercising.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-color: black;
}

/*---------------NAVIGATION BAR------------------*/


.container-one{width:100%;
          background-color: rgb(68, 67, 67);
         margin: auto;}

.container-one ul{display: flex;
              padding: 20px 20px 20px 0px;
              justify-content: right;}   
            
.container-one ul li{margin-left: 30px;
                list-style-type: none;
                }     

.container-one ul li a{text-decoration: none;
                  font-size: 14px;
                  color:rgb(211, 45, 45);
                  transition: .5s;
                  font-weight: bold;
                  font-size: 16px;}


.container-one ul li a:hover {text-decoration: underline;
                          color: white;}  
                 
.bg-container-paragraph{margin-top:100px;
text-align: center;}   

h1{color: rgb(216, 43, 43);
 font-size: 30px;
 font-weight: bold;
 word-spacing: 10px;
padding-bottom: 15px;}

h2{color: white;
  font-weight: bold;
  padding-bottom: 20px;}


.start{border: 2px solid rgb(216, 43, 43);
  border-radius: 5px;
  background-color: rgb(216, 43, 43);
  padding: 10px 20px 10px 20px;
text-decoration: none;
color: white;
font-weight: bold;}


/*----------------------SESSION SECTION--------------------*/

.session{width:80%;
  background-color: rgb(53, 50, 50);
  height: 100%;;
  margin: auto;
  padding-top: px;
  }

.row{display: flex;
    margin-top:3%;} 

.col{flex-basis: 30%;
     margin-bottom: 30px;
     animation-timeline:view();
     position: relative;
     overflow: hidden;}

img{width:350px;
    height: 450px;
  margin-left: 40px;}  

.qym-quote{text-align: center;
  margin-top: 30px;
  font-size: 20px;
  text-transform:uppercase;
  padding-bottom: 20px;
  color: white;}

  .quote{color:rgb(216, 43, 43);
        text-align: center;
        padding-bottom:5px;
        text-decoration: underline;
        padding-top: 20px;}

span{color: rgb(216, 43, 43);}      

.message{width:80%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: auto;}

.push-ups{text-align: center;
         color:rgb(216, 43, 43) ;}

.start-two{border: 2px solid rgb(216, 43, 43);
  border-radius: 5px;
  background-color: rgb(216, 43, 43);
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}  

.start-div{padding-top: 30px;
         margin-left: 20px;}



/*---------------------GALLERY-----------------*/
.contact-infor{width: 80%;
  margin: auto;
  background-color: rgb(44, 42, 42);
  height: 100%;
  margin-top: 60px;}  

.paragraph{margin-left: 20px;
          padding: 20px;}

.container{display: flex;}        

.contact-form{padding:20px;}

.contact-form h3{text-align: center;}

.contact-form input{width: 500px;
                    margin-top: 20px;
                    height: 56px;
                    color: white;
                    border-radius: 10px;
                    border-top: none;
                    border-right: none;
                    padding: 15px;
                   background-color: transparent;}

.submit{width: 500px;
        border: 1px solid white;
        color: white;
        background-color:black;}                   


.contact-form input::placeholder{color:white;
                                 font-size: 16px;}   


textarea{max-height: 12vh;
         min-width: 200px;
         min-height: 12vh;
         max-width: 500px;
        background-color: transparent;}

textarea{margin-top: 20px;}     


.map{padding:20px;}


iframe{filter: invert(100%);}


/*-----------------TESTIMONIALS----------------------*/
/*.testimonials{width: 80%;
  text-align: center;
  margin: auto;
 padding-top: 100px;}  
 
.testimonials-col{flex-basis: 30%;
     border-radius: 20px;
     overflow: hidden;
    margin-bottom: 5%;
    border: 2px solid black;
    padding: 25px;
    display: flex;
    background:transparent;
    margin-left: 20px;}    
    
.testimonials-col img{height:200px;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 35px;}     
       
.testimonials-col p{text-align: left;
margin-top: 20px;}  

/*.testimonials p{}*/

/*.testimonials-col h3{text-align: left;
        margin-top: 10px;
        color:rgb(216, 43, 43) ;
       }

.testimonials-col .fa-solid{ color:rgb(216, 43, 43) ;
               display: inline-block;
               margin-top: 10px;
               text-align: left;} */



/*-----------------------------ABOUT US SECTION------------------------------*/

.about-us{width: 80%;
          margin: auto;
          height: 100%;
          background-color:rgb(48, 47, 47);
          padding: 10px ;
}

.images{width: 300px;
height: 300px;}

.about-us-col-two{margin-left: 20px;
background-color: rgb(187, 173, 173);}

.about-us-col-two p{background-color: rgb(66, 62, 62);
padding: 10px;
color: white;}

.image-one{margin-left: 10px;}

.start-three{border: 2px solid rgb(216, 43, 43);
            border-radius: 5px;
            background-color: rgb(216, 43, 43);
            padding: 10px 30px 10px 30px;
            text-decoration: none;
            color: white;
            font-weight: bold;
}  

.start-div-one{padding-top:20px;
text-align: center;
justify-content: center;}



.infor{width: 80%;
       height: 60vh;
       margin: auto;
       background-image: linear-gradient(rgba(77, 78, 78, 0.7),rgba(21, 22, 22, 0.7)),url(./image/background\ img.jpeg) ;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;}

.bg-container-paragraph-two{padding-top: 100px;
  text-align: center;}  
  
  .start-three{border: 2px solid rgb(216, 43, 43);
    border-radius: 5px;
    background-color: rgb(216, 43, 43);
    padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.start-three-div{margin-top: 50px;}